
.menu {
    margin-left: 260px;
    margin-top: 40px;
    border: 0px solid;
    width: 1400px;
    height: 40px;
    padding: 15px;
}
h1 {
    color: red;
}
.spisok {
    color: red;
    margin-left: 600px;
    border: 0px solid;
    width: 580px;
    font-size: 18px;
    font-weight: 300px;
    text-align: left;
}
h2 {
    color: green;
    text-align:left;
}
p {
    text-align: left;
    color: black;
}